html {
    font-family: "Helevetica", sans-serif;
  }
  
  body {
    color: #333;
    font-weight: 100;
    max-width: 50em;
    margin: 0 auto;
  }
  
  div:focus {
    outline: none;
  }
  
  #heading {
    font-size: 48px;
    padding-top: 30px;
  }
  
  #content {
    padding-top: 10px;
    font-size: 24px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }